@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');



body {
  background: #3a0f0c;
font-family: "Orbitron", sans-serif;
color: white;
margin: 0%;
}

.hero-section {
  display: grid;
  gap: 10px 40px;

}


.header-section{

    background: linear-gradient(0deg, #0C0101 -25.47%, #9E0404 702.56%);
    height: 70px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  



}

.nav-bar {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;


}

.nav-bar img {
    height: 80px;
    margin-left: 50px;
}
  .nav-links{
    margin-right: 80px;
    list-style:none;
    gap: 40px;
    display:flex;
    align-items: center;
    justify-content: end;
  }



.nav-bar li a {
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    justify-content: space-between;
}

.nav-bar li a:hover {
    color: gold;
    border-bottom: 2px solid white;


}
.btn-cnx{
    border-radius: 10px;

    background-color: #7A0000;
}
.nav-bar .btn-cnx:hover{
    border: 1px solid gold;
    border-bottom: no 2px solid gold;
    box-shadow: 0 0 10px white;
}

header {
  text-align: center;
  font-weight: 100px;

}


  


.hero-imag {
  display: grid;
  background-image: url(imag/payday2.jpg);
  grid-template-rows: 300px;
  background-size: cover;
  background-position: center;
  
  border-radius: 50px;

 
  font-size: 50px;

}

article
{ display: grid;
    background: #220000;
  border-radius: 90px 90px 0 0;

gap: 10px;
color: white;
}
h2{
    text-align: center;
    color: white;
}
.time-news{
    display: grid;
    grid-template-columns: auto auto;
   
place-content: end space-between;
color: white;
}
.time-news .span-1
{
  
   padding-left:90px ;
}
.time-news .span-2
{
   padding-right:90px ;
 
}
.art-paragraph{
   padding-left: 30px;
}
.art-paragraph h3{
   padding-left: 30px;
   

}
#h3{

background: linear-gradient( to right,#F23F3F,#FFFFFF);
color: transparent;
background-clip: text;



}

.art-imag{
    display: grid;
    grid-template-columns:auto auto ;
    gap: 30px;
    padding: 10px;
    place-items: center;
}
